@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game {
  width: 600px;
  max-width: 100%;
  height: 200px;
  margin: auto;
  border: 1px solid #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(trex.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 148px;
  z-index: 2;
}

/* To add & remove jump to dino */
.jump {
  animation: 0.3s linear jump;
}

/* Jump animation */
@keyframes jump {
  0% {
    top: 148px;
  }

  30% {
    top: 110px;
  }

  50% {
    top: 60px;
  }

  80% {
    top: 110px;
  }

  100% {
    top: 148px;
  }
}

#cactus {
  width: 30px;
  height: 50px;
  background-image: url(cactus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 98px;
  left: 568px;
  z-index: 1;
  /* animation: 2s infinite linear block; */
}

.cactus-slide {
  animation: 2s infinite linear block;
}

@keyframes block {
  0% {
    left: 568px;
  }

  100% {
    left: -20px;
  }
}

span {
  font-family: 'Press Start 2P', cursive, sans-serif;
  color: #000000;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.copyright {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  color: #000000;
}

.copyright a {
  color: #0a66c2;
  text-decoration: none;
}

.copyright a:hover {
  color: #000000;
}
